.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.errorImage {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
