.navBar {
    background-color: #2d2d2d;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;
    margin: 0;
    border-bottom: solid 2px #f39c12;
}

.navbarContainer {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.logo {
    max-width: 50px;
    opacity: 0.80;
    margin-right: 30px;
    display: block;
}

.navItem {
    list-style: none;
    margin: 0 15px;
}


.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #f39c12 !important;
    text-decoration: none !important;
    border: none;
}

.navItem a:hover {
    color: #ff7400 !important;
}

.navItem .activeLink {
    color: #ff7400 !important;
    padding-bottom: 5px;
    opacity: 1;
}
