.navBar {
    background-color: #2c2c2c;
    border-bottom: 2px solid #ff5600;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
}

/* Rule added because of update to reactstrap 9.x */
.navbarContainer {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 50px;
    transition: all .2s;
    margin-right: 20px;
}

.logo:hover {
    transform: rotate(45deg);

}


.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #242424;
}

.navItem a.active {
    color: #f90931 !important;
}
.navItem a:hover {
    color: #ff4c60;
}
