.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.errorImage {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.h3 {
    font-size: 1.5rem;
    color: #fac098;
    font-weight: 400;
}
