.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table td {
    padding: 12px 15px;
    border-bottom: 1px solid #333;
    vertical-align: middle;
    color: #ffe1cb;
    text-align: center;
}


.drinkCell {
    width: 120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    background-color: #f8840a;
    color: #ffffff;
    margin: 0;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
    width: fit-content;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #ff5600;
    color: white;
}

.table tr:hover {
    background-color: #252525;
}
