.switch {
    display: flex;
    margin: 30px 0 50px ;
    justify-content: center;
}

.option {
    display: inline-block;
    padding: 4px 16px;
    background: #ffe9e3;
    cursor: pointer;
    border: 1px solid #f8840a;
    color: #f8840a;
}

.option:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.option:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.option.active {
    background-color: #f8840a;
    color: white;
}