.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;

    margin: 0 auto;
    align-items: center;
    padding: 30px;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
}

.info {
    padding: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    justify-self: end;
}

.imageWrapper {
    margin-top: 30px;
    max-width: 400px;
    position: relative;
    width: 100%;
    height: 100%;
    justify-self: start;
}


.image {
    width: 100%;
    display: block;
}

.button {
    margin-top: 25px;
    width: 70%;
    min-width: 150px;
    padding: 6px 12px;
    background-color: #f39c12; /* Arancione (o usa il tuo colore primario) */
    color: #fff7f3;
    border: none;
    border-radius: 8px;     /* Bordi arrotondati */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.button:hover {
    background-color: #d35400;
}