.footer {
    background: #242424;
    color: white;
    padding: 20px 0;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

#course {
    font-size: 20px;
    margin-right: 30px;
    max-width:250px;
}

.logo {
    max-width: 80px;
    margin: 0 6px;
    align-self: center;
}

.copyright {
    border-left: 1px solid #393939;
    padding-left: 20px;
    justify-content: space-between;
    align-items: stretch;
}


.footerNav{
    border-left: 1px solid #393939;
    padding-left: 20px;
}
.footerNav a{
    margin: 8px 0;
    display: inline-block;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    color: #f39c12;
    text-decoration: underline;
}