.loading {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
    color: #f39c12;
}

.drink-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-content {
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}