
.loading {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
    color: #f39c12;
}

/* --- TYPOGRAPHY --- */
.main-title {
    text-align: center;
    color: #f39c12; /* Arancione Cocktail */
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #ccc;
    margin-bottom: 50px;
}

.drink-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}


.back-link {
    color: #f39c12;
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 20px;
}

.back-link:hover {
    text-decoration: underline;
}

.detail-layout {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.detail-image-box {
    flex: 1;
    min-width: 300px;
}

.detail-image {
    width: 100%;
    border-radius: 15px;
    border: 2px solid #333;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.detail-info {
    flex: 1.2;
}

.detail-title {
    font-size: 3.5rem;
    margin: 0 0 10px 0;
    color: #f39c12;
}

.tags {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.tag {
    background-color: #333;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid #444;
}

.section-title {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-top: 30px;
    color: #eee;
}

.ingredient-list {
    list-style: none;
    padding: 0;
}

.ingredient-item {
    padding: 10px 0;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    justify-content: space-between;
}

.measure {
    color: #f39c12;
    font-weight: bold;
}

.instructions {
    line-height: 1.8;
    font-size: 1.1rem;
    color: #ccc;
}

.h1 {
    font-size: 3rem;
    color: #f39c12;
}


/* 1. Il contenitore principale deve essere alto ALMENO quanto lo schermo */
.page-wrapper {
    display: flex;
    flex-direction: column; /* Mette gli elementi uno sotto l'altro */
    min-height: 100vh;      /* 100vh = 100% dell'altezza della finestra (viewport) */
}

/* 2. La parte centrale deve "mangiare" tutto lo spazio libero */
.main-content {
    flex-grow: 1;           /* Questo è il segreto! Spinge il footer giù */

    /* Le tue regole di layout precedenti per centrare il contenuto vanno qui: */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}




