/* src/index.css */

/* Reset universale */
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f39c12;
    --text-color: #cccccc;
    --bg-color: #1a1a1a;
}

#root {
    min-height: 100vh;      /* Occupa ALMENO il 100% dell'altezza visibile */
    display: flex;          /* Attiva Flexbox */
    flex-direction: column; /* Mette Header -> Main -> Footer in colonna */
}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color); /* Usa la variabile (o #f39c12) */
    margin-top: 0; /* Rimuove lo spazio sopra fastidioso */
    font-weight: 700;
    font-family: 'Georgia', 'Times New Roman', serif;
}

/* Stile base per tutti i paragrafi */
p {
    color: var(--text-color); /* Solitamente i p non si fanno arancioni per leggibilità */
    line-height: 1.6; /* Migliora la lettura */
    margin-bottom: 1rem;
}

/* Stile base per i link */
a {
    color: inherit; /* Prende il colore del testo padre */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--primary-color); /* Diventa arancione quando ci passi sopra */
}



