* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #1a1a1a;
    color: #cccccc;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #f39c12;
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Georgia', 'Times New Roman', serif;
}

h4, h5, h6 {
    color: #cccccc;
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Georgia', 'Times New Roman', serif;
}


p {
    color: #cccccc;
    line-height: 1.6;
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #f39c12;
}



