.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;

    margin: 0 auto;
    align-items: center;
    padding: 30px;
    gap: 40px;
    width: 100%;
    box-sizing: border-box;
}

.info {
    padding: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    justify-self: end;
}

.imageWrapper {
    margin-top: 30px;
    max-width: 400px;
    position: relative;
    width: 100%;
    height: 100%;
    justify-self: start;
}


.image {
    width: 100%;
    display: block;
}

